.footer-bg {
  background: #010101;
  padding-bottom: 60px;
  border-top: 1px solid #595959;
  border-bottom: 1px solid #595959;
}

.footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 90%;
  max-width: 1200px;
  margin: auto;
  padding-top: 60px;
}

.sobre h3,
.navegacao h3,
.redes h3 {
  margin-bottom: 20px;
}

.sobre p {
  text-align: start;
  margin-right: 30px;
  font-size: 1rem;
}

.navegacao li + li {
  padding-top: 7px;
}

.redes-lista {
  display: flex;
  gap: 30px;
  align-self: center;
  justify-content: start;
}

.redes-lista li {
  width: 30px;
}

@media (max-width: 900px) {
  .footer {
    grid-template-columns: repeat(3, 1fr);
  }
  .logo {
    display: none;
  }
}

@media (max-width: 550px) {
  .footer {
    grid-template-columns: 1fr 1fr;
    padding-left: 30px;
  }
  .sobre {
    grid-column: 1 / -1;
  }
  .navegacao {
    padding-top: 40px;
  }
  .redes {
    padding-top: 40px;
    justify-content: center;
  }
}

@media (max-width: 400px) {
  .footer h3 {
    font-size: 1rem;
  }
  .footer p,
  .navegacao a {
    font-size: 0.9rem;
  }
  .redes-lista {
    gap: 10px;
  }
}

/* ANO */
.ano-bg {
  background: #0c0c0c;
  padding: 15px 0px;
}
.ano-bg p {
  font-size: 0.8rem;
  text-align: center;
}
