.introducao-bg {
  background: var(--cor-12);
  box-shadow: inset 0 -50px #ffffff;
}

.introducao {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.introducao-conteudo {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.introducao h1 {
  padding-top: 120px;
  padding-left: 60px;
}

.introducao-conteudo {
  padding-top: 60px;
}

.introducao img {
  margin-bottom: -120px;
}

.introducao-informacoes {
  padding-top: 30px;
  padding-bottom: 120px;
  display: grid;
  gap: 30px;
}

.introducao p {
  font-size: 1.3rem;
  text-align: start;
}

.introducao-informacoes > .botao {
  max-width: max-content;
}

@media (max-width: 980px) {
  .introducao h1 {
    padding-top: 60px;
  }
  .introducao-informacoes {
    padding-top: 0px;
  }
  .introducao-informacoes p {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .introducao-bg {
    box-shadow: inset 0 0px #ffffff;
  }
  .introducao-conteudo {
    grid-template-columns: 1fr;
  }
  .introducao-informacoes {
    padding-bottom: 60px;
    margin: 0 30px;
  }
  .introducao img {
    margin-bottom: 0px;
}
.introducao h1 {
  padding-left: 40px;
}


}
